gadm36_PRT_0.shx filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_1.prj filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_3.dbf filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_3.shx filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_1.shx filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_3.shp filter=lfs diff=lfs merge=lfs -text
license.txt filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_1.shp filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_2.cpg filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_2.dbf filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_0.cpg filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_0.prj filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_0.shp filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_1.cpg filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_1.dbf filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_2.prj filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_2.shp filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_3.prj filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_0.dbf filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_2.shx filter=lfs diff=lfs merge=lfs -text
gadm36_PRT_3.cpg filter=lfs diff=lfs merge=lfs -text
placeholder.txt filter=lfs diff=lfs merge=lfs -text
